@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #e6e6ff; */
  width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.animatedButton{
  animation-duration: 10000ms;
}

.ql-container{
  border: none !important;
}
.ql-toolbar{
  border: none !important;
}
.ql-editor{
  border: none !important;
}
/* Ensure all images have the same size and aspect ratio */
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container {
  width: 100%;
  height: 12rem; /* Adjust the height as needed */
  overflow: hidden;
  border-radius: 1rem; /* Adjust the border-radius as needed */
}